// output:index.html

doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="assets/css/app.css")
  
  body
  
    .wrap
      h1 SPINNERS
      
      .spinner.spinner-1
      
      .spinner.spinner-2
      
      .spinner.spinner-3
      
      .spinner.spinner-4
      
      .spinner.spinner-5
        span
        span
        span

    
    
    .wrap
      h1 LOADER
          
      .loader.kurt
