// output:index.html

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Aula Parallax
    link(rel="stylesheet" href="assets/css/layout.css")
    

  body

    section
      #layer_3.img-parallax
      #layer_4.img-parallax
      #layer_1.img-parallax
      #layer_2.img-parallax

    article#content
    
    script(src="assets/js/functions.js")
