// output:index.html

doctype htm
html(lan="en")
  head
    meta(charset="utf-8")
    title Example
    link(rel="stylesheet" href="css/app.css")
    
  body
    header.navigation(role="banner")
      .navigation-wrapper 
        a.logo(href="javascript:void(0)")
          img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image")
        a#js-mobile-men.navigation-menu-button(href="javascript:void(0)") MENU
        nav(role="navigation")
          ul#js-navigation-men.navigation-menu.show
            li.nav-link
              a(href="javascript:void(0") Products
            li.nav-link
              a(href="javascript:void(0)") About Us
            li.nav-link
              a(href="javascript:void(0)") Contact
            li#js-navigation-more.nav-link.more
              a(href="javascript:void(0)") More
              ul.submenu
                li 
                  a(href="javascript:void(0)") Submenu Item
                li 
                  a(href="javascript:void(0)") Another Item
                li.more 
                  a(href="javascript:void(0)") Item with submenu
                  ul.submenu
                    li
                      a(href="javascript:void(0)") Sub-submenu Item
                    li
                      a(href="javascript:void(0)") Another Item
                    li.more
                      a(href="javascript:void(0)") Another submenu
                      ul.submenu
                        li 
                          a(href="javascript:void(0)") Sub-submenu
                        li
                          a(href="javascript:void(0)") An Item
      
        .navigation-tools
          .search-bar
            form(role="search")
              input(type="search" placeholder="Enter Search")
              button(type="submit")
                img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon")



  script(src="javascript/jquery-2.1.3.min.js")
  script(src="javascript/nav.js")
