// output:index.html

doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="assets/css/app.css")
    
  body
  .modal-wrap
    .modal-header
      span.is-active
      span
      span
      
    .modal-bodies

      .modal-body.modal-body-step-1.is-showing
        .title Step 1
        .description Hello there, Let's play a game.
        form
          input(type="text" placeholder="Name")
          input(type="email" placeholder="Email")
          .text-center
            .button Start



      .modal-body.modal-body-step-2
        .title Step 2
        .description Would you rather
        form
          label
            input(type="radio" name="radio")
            | live one life that lasts 1,000 years?
          label
            input(type="radio" name="radio" id="radio2")
            | live 10 lives that last 100 years each?
          .text-center.fade-in
            .button Next





      .modal-body.modal-body-step-3
        .title Step 3
        .description Check your email for the game results.
        .text-center
            .button Done!


.text-center
  .rerun-button ReRun
    
    script(src="assets/js/jquery-2.1.3.min.js")
    script(src="assets/js/functions.js")
